


.HeaderCardLayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #008374;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Company Name Styling */
  .CompanyNameLayout {
    color: #EC4444;
    font-size: 28px;
    font-weight: bold;
    margin:0px
  }
  
  /* Menu Layout */
  .MenuCardLayout {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .MenuCardLayout li {
    padding: 10px 15px;
    font-size: 16px;
    transition: color 0.3s, transform 0.2s, box-shadow 0.2s;
  }
  
  .MenuCardLayout li:hover {
    color: #073e37;
    transform: translateY(-2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
  
  .MenuCardLayout a {
    text-decoration: none;
    color: aliceblue;
  }
  
  /* Login and Cart Layout */
  .LoginCartLayout {
    display: flex;
    align-items: center;
  }
  
  .LoginCartLayout div {
    padding: 10px 15px;
    color: aliceblue;
    font-size: 16px;
  }
  
  .noborder_hr {
    margin: 0;
    border: none;
    border-radius: 2px;
    background: #f8f8f8;
    height: 3px;
  }
  
  /* Mobile View */
  @media (max-width: 768px) {
    .MenuCardLayout  {
      display: none;
    }
    .CartLayout  {
      display: none;
    }
  }
  