/* 
.Register-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.Register-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #008374;
}

.Register-form {
    display: flex;
    flex-direction: column;
}

.Register-input-group {
    margin-bottom: 15px;
}

.Register-label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    text-align: left;
}

.Register-input {
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.Register-input:focus {
    border-color: #008374;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 131, 116, 0.5);
}

.Register-button {
    padding: 12px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: #008374;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.Register-button:hover {
    background-color: #006f60;
    transform: translateY(-2px);
} */
